<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.jraimundo.com">
                        JRaimundo.com
                    </a>
                </li>
                <li>
                    <a href="https://www.jraimundo.com/about-us">
                        Sobre nós
                    </a>
                </li>
                <li>
                    <a href="https://www.jraimundo.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.jraimundo.com/license">
                        Licença
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, feito com amor por
            <a href="https://www.jraimundo.com" target="_blank">JRaimundo.com</a> para uma web melhor.
        </div>
    </div>
</footer>
